.analog-clock {
  height: 400px;
  width: 400px;
  padding: 0;
  margin: 0;
}
.analog-clock #face {
  stroke-width: 2px;
  stroke: #000;
  fill: #fff;
}
.analog-clock #hour,
.analog-clock #min,
.analog-clock #sec {
  stroke-width: 1px;
  fill: #555;
  stroke: #000;
}
.analog-clock #sec {
  stroke: #f55;
}
.analog-clock #ticks rect {
  width: 3px;
  height: 5px;
}
.analog-clock #ticks rect:nth-child(12) {
  x: 98;
  y: 50;
  transform: rotate(450deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(11) {
  x: 91.56921938;
  y: 26;
  transform: rotate(420deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(10) {
  x: 74;
  y: 8.43078062;
  transform: rotate(390deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(9) {
  x: 50;
  y: 2;
  transform: rotate(360deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(8) {
  x: 26;
  y: 8.43078062;
  transform: rotate(330deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(7) {
  x: 8.43078062;
  y: 26;
  transform: rotate(300deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(6) {
  x: 2;
  y: 50;
  transform: rotate(270deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(5) {
  x: 8.43078062;
  y: 74;
  transform: rotate(240deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(4) {
  x: 26;
  y: 91.56921938;
  transform: rotate(210deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(3) {
  x: 50;
  y: 98;
  transform: rotate(180deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(2) {
  x: 74;
  y: 91.56921938;
  transform: rotate(150deg);
  transform-origin: 0% 0%;
}
.analog-clock #ticks rect:nth-child(1) {
  x: 91.56921938;
  y: 74;
  transform: rotate(120deg);
  transform-origin: 0% 0%;
}
